# Backend
PORT=3000
NODE_ENV=development

# Authentication
JWT_SECRET=your_jwt_secret

# PostgreSQL
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=ticket_system

# Prisma
DATABASE_URL=postgresql://your_postgres_user:your_postgres_password@postgres:5432/ticket_system

# Frontend
VITE_API_URL=http://localhost:3000